@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');

:root {
    --primary-color: #0f2e9f;
    --secondary-color: #e47621;
    --accent1-color: #8300af;
    --accent2-color: rgb(106, 106, 106);
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a,
#hero-msg h1,
#hero-msg h4,
.button-box,
main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: var(--accent1-color);
}

h2 {
    margin: 0;
}

body {
    background-color: var(--accent2-color);
    font-family: 'Agdasima', Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(15, 46, 159, 0.7);
    font-family: 'Agdasima', Arial, sans-serif;
}

nav a:hover {
    background-color: black;
}

.book, .join {
    background-color: var(--secondary-color);
}

.book:hover, .join:hover {
    background-color: var(--accent1-color);
    color: #ffffff;
}

.msg {
    background-color: var(--accent2-color);
    line-height: 1.5em;
    padding: 35px;
}

footer {
    background-color: var(--primary-color);
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social img {
    padding-top: 15px;
}

nav a {
    color: var(--accent2-color);
    padding: 35px;
}

nav a:hover {
    color: var(--secondary-color);
}

.home-title,
h4 {
    color: var(--primary-color);
    font-size: 2em;
    margin-top: 10px;
}

.book, .join {
    color: #ffffff;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.msg h2 {
    color: var(--primary-color);
}

.msg p {
    color: var(--accent2-color);
    font-size: 0.8em;
    padding-bottom: 15px;
}

footer p {
    color: #fff;
    font-size: 1.2em;
}

footer a {
    color: var(--accent2-color);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
    background-color: #fff;
    border-radius: 10px; 
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav a,
.book, .join,
footer a {
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}

.card-img {
    border: 10px solid #d9c2a3;
}

main section img {
    box-sizing: border-box;
}
